---
layout: page
---

<link rel="shortcut icon" type="image/png" href="{{ '/assets/res/favicon.png' | relative_url }}">

<style>
body {
  background-color: white;
}

a {
  color: #1A0DAB;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #660099;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

h1 {
  color: #263961;
}

</style>

<a href="https://bioinformatics.ucdavis.edu/" target="_blank"><img src="/assets/res/biocore_banner.png"></a>
<h1>Training Workshops Course Material</h1>

<h3>
  To learn more about the UC Davis Bioinformatics data analysis services and training program, visit the <a href="https://bioinformatics.ucdavis.edu/" target="_blank">Bioinformatics Core website</a>. Dates and prices for our upcoming workshops can be found on the <a href="https://registration.genomecenter.ucdavis.edu/events/organizer/bioinformatics_core/" target="_blank">Genome Center Event Registration</a> site.
</h3>

<hr/>
<hr/>
{% assign sorted_repos = site.github.public_repositories | sort: 'date' | reverse %}
{% for repo in sorted_repos %}
{% if repo.description %}
<h3>
      <a href="{% if repo.has_pages %} {{repo.html_url | replace: 'github.com/ucdavis-bioinformatics-training', 'ucdavis-bioinformatics-training.github.io' }} {% else %} {{repo.html_url}} {% endif %}" target="_blank">
        {{repo.name | replace: "-", " " | replace: "_", " "}}<br/>
      </a>
</h3>
<h4>{{repo.description}}</h4>
<hr/>
{% endif %}
{% endfor %}
