<div class="col s12">
  <p>To learn more about the UC Davis Bioinformatics data analysis services and training program, visit <a href="https://bioinformatics.ucdavis.edu/" target="_blank" rel="noreferrer noopener">our website</a>. Dates and prices for our current workshops can be found on the <a href="https://registration.genomecenter.ucdavis.edu/" target="_blank" rel="noreferrer noopener">Genome Center Event Registration</a> site.</p>
</div>

{% assign sorted_repos = site.github.public_repositories | sort: 'created_at') | reverse %}
<div class="col s12 switch">
  <label>
    Show forked projects
    <input class="fork-switch" type="checkbox" checked="1" onchange="toggleForked()">
    <span class="lever"></span>
  </label>
</div>
{% for repo in sorted_repos %}
<div class="col s12 m6 l4" {% if repo.fork %}id="forked"{% endif %}>
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <i class="material-icons waves-effect waves-block waves-light">more_vert</i>
      {% assign repo_href = repo.html_url %}
      {% if repo.has_pages %}
      {% assign repo_href = {repo_href | regex_replace: 'github.com/ucdavis-bioinformatics-training', 'ucdavis-bioinformatics-training.github.io'} %}
      {% endif %}
      <a class="card-title center-align valign-wrapper" href="{{repo_href}}" target="_blank">
        {{repo.name}}
      </a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">{{repo.description}}</span>
    </div>
    <div class="card-reveal">
      <div class="card-reveal-content">
        <span class="card-title grey-text text-darken-4">Statistics<i class="material-icons right">close</i></span>
        <span class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{repo.stargazers_count}} stars">
          <i class="material-icons">star</i>
          {{repo.stargazers_count}}
        </span>
        <span class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{repo.forks_count}} forks">
          <i class="material-icons">call_split</i>
          {{repo.forks_count}}
        </span>
        <span class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="Last updated：{{repo.updated_at}}">
          <i class="material-icons">access_time</i>
          <time datetime="{{repo.updated_at}}" title="{{repo.updated_at}}">{{repo.updated_at | date: '%Y-%m-%d'}}</time>
        </span>
      </div>
    </div>
  </div>
</div>
{% endfor %}
